<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 myBatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="insertMember" parameterType="memVo">
		insert into mymember(mem_id, mem_pass, mem_name, mem_tel, mem_addr)
		values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr})
	</insert>
	
	<delete id="deleteMember" parameterType="String">
		delete from mymember where mem_id = #{mem_id}
	</delete>
	
	<update id="updateMember" parameterType="kr.or.ddit.vo.MemberVO">
		update mymember 
		set mem_pass = #{mem_pass}, mem_name = #{mem_name}, mem_tel = #{mem_tel}, mem_addr = #{mem_addr}
		where mem_id = #{mem_id}
	</update>
	
	<select id="getAllMember" resultType="memVo">
		select * from mymember
	</select>
	
	<select id="getMemberIdCount" parameterType="String" resultType="int">
		select count(*) cnt from mymember where mem_id = #{mem_id}		
	</select>
	
	
	<!-- 
		* parameterType으로 map을 받으면 SQL문에는 변수명  대신 Map의 key값으로 한다.
		
		* 파라미터로 가져온 값을 '컬럼명'등의 자리에서 사용할 경우에는
		달러 ($)기호로,
	 -->	

<!-- 	 key값 정보 ==> 회원ID(memID), 컬럼명(field), 데이터값(data) -->
	<update id="updateMember2" parameterType="map">
		update mymember set 
		${field} = #{data} 
		where mem_id = #{memID}
	</update>
</mapper>






















